/Unidad 1/MiPrimeraApp/nbproject/private/
/Unidad 1/MiPrimeraApp/build/
/Unidad 1/MiPrimeraApp/dist/
/Unidad 2/Colecciones/nbproject/private/
/Unidad 2/Colecciones/build/
/Unidad 2/Scootin/nbproject/private/
/Unidad 2/Scootin/build/
